.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Reset some default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* General styling */
body {
  font-family: Arial, sans-serif;

}

.container_sp {
  max-width: 600px;
  height: 80vh;
  margin: 0 auto;
  padding: 0px;

}

.continueBtn button {
  border-radius: 1px;
  padding: 14px 20px;
  width: 370px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 20px;
}

.img-one {
  text-align: center;
}

.img-one img {
  top: 0;
  max-height: 250px;
  max-width: 800px;

}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 24px;
}

.line2 {
  width: 25%;
  height: 1px;
  background-color: #1b1b1b;
  margin: 0 auto;
}

.btn,
.btn2,
.input-fild {
  text-align: center;
  margin-top: 20px;
}

.btn a {
  text-decoration: none;
  display: inline-block;
  margin: 2px;
}

.btn2 a {
  text-decoration: none;
  display: inline-block;
  margin: 2px;
}

.btn button {
  padding: 14px 20px;
  width: 360px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
}

.btn2 button {
  padding: 14px 20px;
  width: 370px;
  color: #ffffff;
  background-color: rgb(48, 48, 48);
  border: 2px solid #202020;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0px 25px 28px rgba(0, 0, 0, 0.1);

}

.input-fild input {
  padding: 14px 20px;
  width: 320px;
  /* color: #ffffff; */
  /* background-color: rgb(48, 48, 48);  */
  border: 2px solid #202020;
  /* cursor: pointer; */
  transition: background-color 0.3s;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;

}

.input-fildr,
.btn:hover,
.continueBtn:hover,
.btn2:hover {
  transition: background-color 0.3s, transform 0.3s;
  transform: scale(0.96);
}

@media screen and (max-width: 768px) {

  .btn button,
  .btn2 button,
  .continueBtn button {
    padding: 10px 20px;
    width: 200px;
  }
}


body,
h1,
p {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;

}

.container {
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px;

}

.img-one {
  text-align: center;
}

.img-one img {
  top: 0;
  max-height: 250px;
  max-width: 700px;

}


p {
  font-size: 24px;
}

.line {
  width: 50%;
  height: 1px;
  background-color: #1b1b1b;
  margin: 0 auto;
}

h3 {
  text-align: start;
}

.btn,
.input-fild {
  text-align: center;
}

.btn a {
  text-decoration: none;
  display: inline-block;
  margin: 2px;
}


.btn button {
  padding: 14px 20px;
  width: 500px;
  color: #ffffff;
  background-color: rgb(20, 5, 18);
  border: 2px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
}

.input-fild input {
  padding: 14px 20px;
  width: 320px;
  /* color: #ffffff; */

  border: 2px solid #202020;
  /* cursor: pointer; */
  transition: background-color 0.3s;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;

}

#forgot a {
  text-align: center;
  text-decoration: none;

}



.input-fildr,
.btn:hover {
  transition: background-color 0.3s, transform 0.3s;
  transform: scale(0.96);
}



.form {
  max-width: 500px;
  margin: 0 auto;
  text-align: start;
  padding: 20px;
  border-radius: 5px;

}

label {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

#span {
  font-size: 24px;
  color: #454444;
  font-weight: normal;


}

input[type="text"],
select {
  color: #616060;
  padding: 14px 20px;
  margin-bottom: 15px;
  border: 1px solid #0b0b0b;
  border-radius: 3px;
  font-size: 18px;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
select:focus {
  border-color: #007bff;
}

@media screen and (max-width: 600px) {
  form {
    max-width: 80%;
    /* Adjust maximum width for smaller screens */
  }
}

@media screen and (max-width: 600px) {
  form {
    max-width: 90%;
  }
}



@media screen and (max-width: 768px) {

  .btn button,
  .btn2 button {
    padding: 10px 20px;
    width: 200px;
  }

  .input-fild input {
    padding: 10px 20px;
    width: 220px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

.user-form {
  max-width: 450px;

  margin: 0 auto;
  text-align: left;
}

.user-image {
  width: 100%;
  height: 25vh;

  object-fit: cover;
  margin-bottom: 10px;
}

.tick {
  padding-right: 40px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Eo_circle_green_white_checkmark.svg/800px-Eo_circle_green_white_checkmark.svg.png');
  /* Replace with the actual image URL */
  background-repeat: no-repeat;
  background-position: right 9px center;
  background-size: 20px 20px;
}

.cross {
  padding-right: 40px;
  background-image: url('https://www.pngkit.com/png/detail/270-2704342_wrong-cross-symbol.png');
  background-repeat: no-repeat;
  background-position: right 9px center;
  background-size: 20px 20px;
}

.progress-circle {
  position: relative;
  top: 50%;
  top: 9px;
  right: 35px;
  /* Adjust the value to control the positioning of the CircularProgress */
  transform: translateY(-50%);
}

.input-field {
  width: 82%;
  text-align: start;
  font-size: 16px;
  padding: 12px 3px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-label {
  text-align: left;
  margin-top: 0;
}

.button {
  background-color: #0d0d0e;
  color: white;
  border: none;
  margin-top: 30px;
  font-size: 16px;
  padding: 12px 0px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  font-size: 32px;
}

.text {
  font-size: 26px;
  color: #474747;
}

.onb_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

}

.selectable-list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.selectable-item {
  padding: 6px 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin: 3px;
  background: #f3f3f3;
}

.selectable-item.selected {
  background-color: #181818;
  color: #ffffff;
  border-color: #ffffff;
}


* {
  border: 0;
  padding: 0;
  margin: 0;
}

.container {
  width: 34vw;
  height: auto;
  /* background-color: rgb(114, 35, 138); */
  margin: 0 auto;

}

.top1 {
  margin: 0% 0;
  display: flex;
  border-radius: 5px;
  background-color: rgb(254, 254, 254);
  justify-content: space-between;
  font-size: 15px;
  font-weight: 700;
  align-items: center;
  /* border: 1px solid #c5c5c5; */
  padding: 20px 30px;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.4);
}

.go i {
  font-size: 36px;
  font-weight: 100;
}

.on-off i {
  width: 1.5vw;
  height: 3vh;
  font-size: 30px;
  font-weight: 100;
  background-color: rgb(230, 228, 228);
  color: rgb(132, 132, 132);
  border-radius: 50%;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.3);
}

.link i {
  width: 1.5vw;
  position: relative;
  height: 3vh;
  font-size: 20px;
  margin-right: 0;
  border-radius: 50%;
  background-color: rgb(230, 228, 228);
  color: rgb(132, 132, 132);
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.3);
}

.usertext {
  position: relative;
  margin-right: 45%;
  color: rgb(132, 132, 132);

}

.status {
  color: rgb(132, 132, 132);
}

.top {
  margin: -3px 0;
  display: flex;
  border-radius: 0 0px 30px 30px;
  background-color: rgb(253, 253, 253);
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #c5c5c5; */
  padding: 14px 20px;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.2);
}

.top h1 {
  font-size: 18px;
}

@media (max-width: 768px) {
  .top {
    flex-direction: row;
    /* text-align: center; */
    padding: 8px 0px;
  }

  .top h1 {
    font-size: 14px;
  }

  .setting,
  .share {
    margin: 6px 24px;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}

.cardbody {
  width: 34vw;
  height: auto;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.4);
  margin-top: 50px;
  margin-bottom: 5%;
  padding-bottom: 10%;
  border-radius: 30px;
  z-index: 44;

}

.pic {
  width: 100%;
  height: 22vh;
  padding: 3% 0;
  border-radius: 30px;

}

.cover {
  width: 92%;
  height: 32vh;
  border-radius: 20px;
  border: 2px solid rgb(37, 37, 37);
  background-color: rgb(247, 236, 236);
  margin: 0 auto;
  position: relative;

}

.cover i {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 1.8vw;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 3vh;

}

.profilepic {
  width: 25%;
  height: 100%;
  border-radius: 30px;
  background-color: white;
  border: 2px solid black;
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  margin: -13% auto;
  position: relative;
  z-index: 9;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;


}


.profilepic img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 30px;
}

.profilepic i {
  padding: 15px;
  font-size: 20px;
}

.name input {
  display: flex;
  width: 85%;
  text-align: left;
  font-size: 16px;
  padding: 14px;
  border-radius: 10px;
  /* border: 1px solid black; */
  margin: 37% auto 2%;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

.bio {
  width: 30vw;
  height: auto;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);
  margin: 1% auto;
  border-radius: 20px;

}

.bio h3 {
  text-align: left;
  margin-left: 5%;
}

.bio-input {
  display: flex;
  ;
  flex-direction: column;
  gap: 10px;
  padding: 10px 15px 5% 15px;

}

.bio-input input {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin: 2.5% 0 0 0;
  padding: 12px 0;
  padding-left: 10px;
  font-size: 16px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
}

.container-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.selectable-list {
  display: flex;
  list-style: none;
  margin: 1px auto;
  padding: 0 16px;
  flex-wrap: wrap;
}

.selectable-item {
  padding: 4px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: 1px solid #e7e4e4;
  border-radius: 16px;
  margin: 4px;
  background: #f3f3f3;
}

.selected {
  background-color: #181818;
  color: #ffffff;
  border-color: #ffffff;
}

.skill-add {
  display: flex;
  gap: 15px;
  padding: 15px 15px 15% 15px;
}

.skill-add input {
  flex: 1;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 12px 0;

}

.skill-add button {
  padding: 13px 25px;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
}



/* -----social info------ */
.contact {
  width: 30vw;
  height: 40vh;
  box-shadow: 0px 14px 16px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 2vh;
  border-radius: 20px;
}

.share_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.share_button {
  width: 20px;
  height: 20px;
  z-index: 11;
  margin: 3%;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 1px 5px #39c18d; */
  cursor: pointer;
}

.active_button i {
  font-size: 33px;
  color: #49e2a7 !important;
}

.share_button i {
  font-size: 18px;
  color: #b1c8c9;
  transition: color .4s ease-in-out;
}

.share_icons {
  background: #ffffff;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px #39c18d;
  border-radius: 25px;
  transition: width .5s, height .5s ease-in-out;
  width: 90%;
  height: 100px;
  position: relative;
  visibility: visible;
  margin: auto;
}


.icon_button {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #294c4e;
  border-radius: 10px;
  border-color: #0084FF;
  border-width: 1px;
}

.more_share {
  position: relative;
  /* width: 50px;
  height: 50px; */
  border-radius: 50%;
  left: 28%;
  transform: translateX(-50%);
  /* background: #ffa9a9; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 1px 5px #39c18d; */
  cursor: pointer;

}

.more_share i {
  font-size: 20px;
  color: #b1c8c9;
  transition: transform .3s ease-in-out;
}

.more_content {
  position: absolute;
  height: 0px;
  height: 0px;
  background: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 1px 5px #39c18d;
  border-radius: 25px;
  padding: 10px;
  transition: width .5s, height .5s ease-in-out;
  top: 60px;
  left: 0px;
}

.active_more_content {
  height: auto;
  width: auto;
  display: flex;
}

.active_more_button i {
  color: #49e2a7 !important;
  transform: rotate(180deg);
}

.more_content a {
  padding: 10px !important;
}

.fa-facebook-f:hover {
  color: #4267b2;
}

.fa-twitter:hover {
  color: #38A1F3;
}

.fa-youtube:hover {
  color: #ED3833;
}

.fa-facebook-messenger:hover {
  color: #0084FF;
}

.grid-buttons img {
  width: 100%;
}

.grid-buttons img {
  width: 10%;
  height: max-content;
  margin: 10px;
  padding: 0;
  background: white;
}

.cover img {
  width: 100%;
  /* Ensure the image doesn't exceed the container width */
  height: 100%;
  /* Ensure the image doesn't exceed the container height */
  position: absolute;
  object-fit: cover;
  border-radius: 20px;
  top: 0;
  left: 0;
}


.contact2 {
  border-width: 2px;
  border-color: #0084FF;
  border-style: solid;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
}

h3 {
  text-align: center;
}

.view_profile {
  padding: 14px 20px;
  width: 100%;
  color: #ffffff;
  background-color: rgb(20, 5, 18);
  border: 2px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
}

@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

ul {
  list-style-type: none;
}

body {
  display: grid;
  place-items: center;
  background: white;
  padding: 6px 16px;
}

.card_PR {
  position: relative;
  width: auto;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_PR .box_PR {
  position: relative;
  width: 100%;
  height: 200px;
  background: black;
  border-radius: 15px;
}

.card_PR .box_PR:nth-child(1):before {
  content: "";
  position: absolute;
  bottom: 59px;
  left: -1px;
  width: 20px;
  height: 20px;
  z-index: 10;
  background: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: -6px 6px white;
}

.card_PR .box_PR:nth-child(1) img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 15px;
}

.card_PR .box_PR:nth-child(1):after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 97px;
  width: 20px;
  height: 20px;
  z-index: 10;
  background: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: -6px 6px white;
}

.card_PR .box_PR:nth-child(2) {
  background: #ffffffce;
  height: 250px;
  width: 100%;
}

.card_PR .box_PR:nth-child(2):before {
  content: "";
  position: absolute;
  top: 108px;
  left: -1px;
  width: 20px;
  height: 20px;
  z-index: 10;
  /* 	background: red; */
  border-top-left-radius: 20px;
  box-shadow: -6px -6px white;
}

.card_PR .box_PR:nth-child(2):after {
  content: "";
  position: absolute;
  top: -1px;
  left: 109px;
  width: 20px;
  height: 20px;
  z-index: 10;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -6px -6px white;
}

.card_PR .circle_PR {
  position: absolute;
  top: 50%;
  left: -70px;
  transform: translatey(-50%);
  width: 180px;
  height: 180px;
  background: white;
  border-radius: 100%;
  border: 10px solid white;
  overflow: hidden;
}

.card_PR .circle_PR img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_PR {
  background-color: rgb(245, 219, 219);
  height: auto;
  padding: 30px 10px 20px;
  border-radius: 14px;
}

.content_PR h1 {
  padding-left: 120px;
  font-size: 22px;
  font-weight: 700;
  color: #0f172a;
  padding-bottom: 30px;
}

.content_PR h1 span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #475569;

}

.content_PR ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.content_PR ul li {
  width: auto;
  padding: 0 6px;
}

.info-box {
  height: auto;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  margin: 5px;
  font-size: 14px;
  background: #dad5d5;

}

.info-box span {
  display: block;
  font-weight: 700;
  font-size: 15px;
  padding-top: 4px;
}

.cta_PR {
  display: flex;
  position: inherit;
}

.cta_PR button{
  position: relative;
  margin-top: 10px;
}

.btn3,
.btn4 {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.3);
}

.btn3{
  border-radius: 8px 0px 0px 8px;
}

.btn4{
  border-radius: 0px 8px 8px 0px;
}

.editPrevActive{
  background-color: rgb(50, 50, 50);
  color: white;
}

.editPrevInActive{
  background-color: white;
  color: rgb(50, 50, 50);
}

.btn3:hover,
.btn4:hover {
  transform: scale3d(1.05, 1.05, 1);
  background-color: rgb(50, 50, 50);;
  color: white;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

.container_PR {
  width: 60vh;
  margin: 0 auto;
  background: white;
}

.setting,
.share {
  width: 2.5vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* background-color: rgb(236, 236, 236); */
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.4);
}

.setting,
.share i {
  font-size: 26px;
}

.top_PR {
  margin: 3% 0;
  display: flex;
  border-radius: 26px;
  background-color: rgb(235, 243, 250);
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c5c5c5;
  padding: 10px 20px;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.4);
}

.top h1 {
  font-size: 18px;
}

@media (max-width: 768px) {
  .top {
    flex-direction: row;
    /* text-align: center; */
    padding: 8px 0px;
  }

  .top h1 {
    font-size: 14px;
  }

  .setting,
  .share {
    margin: 6px 24px;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  .container {
    width: 80%;
  }
}

.editBtn {
  text-align: center;
  position: relative;
  margin-top: 100px;
}

.editBtn a{
  position: relative;
}

.buttonLink {
  display: inline-block;
  width: 96%;
  margin: 16px auto;
  padding: 14px 0;
  border-radius: 8px;
  font-size: 18px;
  background-color: rgb(43, 41, 41);
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 20px 26px rgba(94, 90, 90, 0.4);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  /* Center the text horizontally */
  text-decoration: none;
}


.buttonLink:hover {
  transform: scale3d(1.03, 1.03, 1);
}

.social {
  width: 100%;
  height: auto;
  margin: 0 auto;
  align-items: center;

}

.contactInfo {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  background: rgb(245, 245, 245);
  box-shadow: 0px 20px 26px rgba(94, 90, 90, 0.4);
  padding: 18px 0;
  border-radius: 10px;
}


.social {

  align-items: center;
  justify-content: center;

}

.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(245, 245, 245);
  box-shadow: 0px 20px 26px rgba(94, 90, 90, 0.4);
  padding: 10px;
  border-radius: 10px;

}

.people-icon {
  font-size: 40px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.updown-icon {
  font-size: 36px;
  margin: 0 15px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  font-size: 18px;
  margin-bottom: 5px;
}

.subheading {
  font-size: 14px;
  color: #555;
}

.updown-icon {
  font-size: 24px;
  margin-left: auto;
}

* {
  border: 0;
  margin: 0;
  background-color: var(#ffffff);
}

.container-colourCard {
  height: 100vh;
  background: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.colourCard {
  width: 35%;
  height: 20vh;
  background: #ffffff;
  border-radius: 12px;
  border: 2px solid rgb(0, 0, 0);
  position: sticky;
  bottom: 4px;
}

.colourBtn input[type="button"] {
  display: block;
  margin: 23px auto 2px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  padding: 16px 11vw;
  font-size: 16px;
}

.themeBtn input[type="button"] {
  display: block;
  margin: 6px auto 6px;
  border: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  cursor: pointer;
  padding: 15px 10.5vw;
  font-size: 16px;
}

.colourBtn input[type="button"]:hover {
  opacity: 0.7;
}